.conteiner__time {
  padding: 6rem  16rem;
  padding-bottom: 12rem;

  @include breakpoint($laptop) {
    padding: 6rem 12rem;
  }
}

.aside {
  width: 100%;
  max-width: 33rem;
  max-height: 100vh;

  position: fixed;
  top: 10rem;
  left: 16rem;
  z-index: $z-index__aside;

  @include breakpoint($laptop) {
    left: 12rem;
  }

}

.aside__container {
  display: flex;
  flex-direction: column;

     a {
      cursor: pointer;
      padding: 2rem;

      display: flex;
      justify-content: space-between;

      border-radius: 1rem;
      font-size: 1.8rem;
      font-weight: 500;

      color: $black;

      &:hover {
        background-color: $white-components;
      }
    }

    span {
      font-weight: 400;
      color: $gray;
    }
}

.active {
  cursor: inherit;
  background-color: $white-components;
}

// content

.main__aside {
  padding-left: 33rem;
}

.content {
  margin: 0 auto;
  width: 100%;

  height: 100%;

}

