.footer {
    background-color: #f5f5f5;
    position: relative;
    padding: 4rem;
    &__logo {
      font-size: 36px;
      line-height: 30px;
      color: #45ae43;
      margin-bottom: 2rem;
      width: 191px;
height: 30px;
    }
    &__block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;
    }
    &__list {
    }
    &__link {
      
      cursor: pointer;
      margin-bottom: 2rem;
      &:hover {
        color: #45ae43;
        transition: 0.2s;
      }
  
      &-data {
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
    &__title {
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      color: #333333;
    }
  
    &__sosial {
      display: flex;
      margin-top: 27px;
      margin-bottom: 44px;
  
      &-link {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
      &-img {
        
      }
    }
    &__download {
      &-link {
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 1.6rem;
        }
        margin-bottom: 35px;
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      &-title {
        color: #808080;
        display: flex;
        align-items: center;
      }
      &-age {
        font-size: 18px;
        line-height: 20px;
        padding: 1rem;
        border-radius: 5px;
        background-color: #D2D7D2;
        margin-right: 1rem;
      }
      &-information {
      }
    }
    &__region {
      &-item {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
  
      &-flag {
        &--img {
        }
      }
      &-country {
        margin: 0px 1rem;
  
        &--arow {
        }
      }
      &-select {
        position: absolute;
        bottom: 130px;
        width: 20rem;
        right: 113px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        padding: 1rem;
        border-radius: 12px;
        transition: 0.2s ease-in-out;
        &--item {
          display: flex;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
        &--flag {
          margin-right: 1rem;
        }
      }
    }
    &__data {
      display: flex;
      align-items: center;
      &-quotation {
        margin-right: 1rem;
      }
      &-time {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
      }
    }
  }
  .rotating-svg {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 10px;
  
  }
  
  .rotate {
    transform: rotate(180deg);
  }