.footer {
  background-color: #f5f5f5;
  position: relative;
  padding: 4rem 16rem;
  z-index: $z-index__footer;

  @include breakpoint($laptop) {
    padding: 4rem 12rem;
  }
  &__logo {
    font-family: "Rubik One";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    /* identical to box height, or 83% */

    color: #45ae43;
    margin-bottom: 2rem;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 4rem;
  }
  &__link {
    display: block;
    transition: color 0s;
    color: $black;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }
    &:hover {
      color: #45ae43;
    }

    &-data {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__title {
    cursor: inherit;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: $black;

    &:hover {
      color: inherit;
    }
  }

  &__sosial {
    display: flex;
    margin-top: 2.7rem;

    &-link {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  &__download {
    margin: 4rem 0 4rem 0;

    &-link {
      &:not(:last-child) {
        margin-right: 1.6rem;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    &-title {
      color: #808080;
      display: flex;
      align-items: center;
    }
    &-age {
      font-size: 18px;
      line-height: 20px;
      padding: 1rem;
      border-radius: 5px;
      background-color: #9d9d9d;
      margin-right: 1rem;
    }
    &-information {
      max-width: 77.1rem;
    }
  }
  &__region {
    &-item {
      display: flex;
      align-items: center;
    }

    &-country {
      margin: 0px 1rem;
    }
    &-select {
      display: none;
      position: absolute;
      bottom: 130px;
      width: 20rem;
      right: 113px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      padding: 1rem;
      border-radius: 12px;
      &--item {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      &--flag {
        margin-right: 1rem;
      }
    }
  }
  &__data {
    display: flex;
    align-items: center;
    &-quotation {
      margin-right: 1rem;
    }
    &-time {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #000000;
    }
  }
}

.footer__olegneymeetvertat {
  margin-bottom: 2rem;
}

.footer__sosial-link {
  cursor: pointer;

  width: 3.6rem;
  height: 3.6rem;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  border-radius: 1rem;

  background-color: $black;

  &:hover {
    background-color: $green;
  }
}
