.header {
  background-color: #f5f5f5;
  z-index:1000;
  position: relative;
  height: 6rem;
  &__menu {
    font-size: 15px;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
  &__logo {
    margin-right: 3rem;
    width: 96px;
    height: 20px;

    align-items: center;
  }
  &__region {
    display: flex;
  }
  &__login {
    display: flex;
  }
  &__specialists {
    margin-right: 3rem;
  }
}
.container {
  max-width: 1304px;
  margin: 0 auto;
}
