
.orderFilling__hint-content {

  cursor: pointer;
  margin-top: 2rem;

  background: #f5f5f5;
  border-radius: 5px;
  padding: 1rem;
 

  transition: background .1s ease-in;

  &:hover {
    background: $gray-input;
  }
}