.search__input {
  width: 100%;
  max-width: 53.5rem;

  display: flex;
  flex-wrap: nowrap;

  font-size: 1.8rem;
  line-height: 2rem;
  color: #333;
  padding: 2rem;
  margin-right: 1rem;
  border: none;
  outline: none;
  background: #F5F5F5;
  border-radius: 5px;
  &::placeholder {
    color: #a8a8a8;
  }
}

