.main {
  padding: 6rem 16rem 0 16rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: space-between;

  @include breakpoint($laptop) {
    padding: 6rem 12rem 0 12rem;
  }

  // left side
  &title {
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 2px;
    margin-bottom: 2rem;

    @include breakpoint($monitor) {
      width: 65%;
    }

    @include breakpoint($monitor-litle) {
      width: 80%;
    }

    @include breakpoint($laptop) {
      width: 100%;
    }
  }
  &subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
  &search {
    margin-bottom: 3rem;
  }
  &hint {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    &-title {
      background: #f5f5f5;
      border-radius: 0.5rem;
      color: #000;
      padding: 1rem;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .main__content {
    width: 100%;
  }
  // right side

  .main__img {
    position: relative;

    z-index: 1;
  }
}

.main__blur {
  display: block;
  background: $background;
  filter: blur(200px);
  width: 363px;
  height: 363px;
  border-radius: 50%;
  position: absolute;
  top: 11.7rem;
}

.mainsearch {
  width: 100%;
  margin-bottom: 0;
  display: flex;
}
.input {
  width: 997px;
}

.main__subtitle {
  margin-bottom: 2rem;
}

