.SpecialistRegisterBlock {
  padding: 4rem 16rem 4rem 16rem;
  display: flex;
  margin-top: 12rem;
  justify-content: space-between;
  background-color: #ecf3ff;
  margin-bottom: 8rem;
  &__block {
    width: 100%;
  }
  &__title {
    padding-bottom: 4rem;
  }
  &__reg {
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    padding-bottom: 2rem;
  }
  &__subtitle {
    color: #a8a8a8;
    display: flex;
  }
}

.SpecialistRegisterBlock__reg {
  width: 100%;
  display: flex;
}

// input
.Input {
  background: #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 40rem;
  padding: 2rem 2rem 2rem 5.7rem;
  outline: none;
  border: none;
  margin-right: 2rem;
  width: 57%;
  position: relative;
  &::before {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url("../../assets/img/turkey.png");
    background-size: cover;
  }

  &::placeholder {
    font-weight: 300;
    font-size: 1.5rem;
  }
}

.search__spectialist {
  width: 100%;
  max-width: 26rem;
}

.sectiontitle {
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  color: #333333;
}

.SpecialistRegisterBlock__subtitle {
  width: 70%;
  text-align: center;
}
