.workSheet {
  margin-bottom: 8rem;

  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

  &__block {

    margin-top: 4rem;

  }

  &__item {
    border-radius: 5px;
    padding: 1rem;
    transition: .1s;

    &:hover {
      background: #f5f5f5;
    }


  }
  &__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    cursor: pointer;


  }

  &__title {
    cursor: pointer;

    width: 20rem;
    display: flex;
    align-items: baseline;
  }
  &__count {
    padding-left: 0.5rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 10px;
    color: #8a8a8a;
  }
}
.workSheet__item {
  cursor: pointer;
}

.workSheet__link-black {
  font-weight: 500;
}