@import '../scss/libs/reset';
@import "./variables.scss";

*,
*::after
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff;

  font-size: 1.5rem;

  color: #333333;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 130.4rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

p {
  font-size: 1.5rem
}

// blocks

@import "./components/header.scss";
@import "./components/reviews.scss";
@import "./components/dropDown.scss";
@import "./components/hint.scss";
@import "./components/dropdownMenuSpecialist";