// colors
$black: #000;
$white: #fff;
$white-components: #F5F5F5;


$gray: #a8a8a8;
$gray-link: #B2b2b2;
$gray-input: #DFDFDF;

$green: #45ae43;
$green_hover: #409f3e;



$background: #ECF3FF;

//profile

$profile: #7759EF;

// z-indexs

$z-index: 1000;
$z-index__aside: 100;
$z-index__footer: 101;

// max-widht

$monitor: 1920px;
$monitor-litle: 1600px;
$laptop: 1370px;
$laptop-litle: 1140px;
