
// colors
$black: #000;
$white: #fff;
$white-components: #F5F5F5;


$gray: #a8a8a8;
$gray-link: #B2b2b2;
$gray-input: #DFDFDF;

$green: #45ae43;

$background: #ECF3FF;

// z-indexs

$z-index: 1000;
$z-index__aside: 100;
